In [1]:
import pandas as pd
from pandas import read_excel
import numpy as np
import numpy as np    # For array operations
import pandas as pd   # For DataFrames
import matplotlib.pyplot as plt    # For plotting
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report,mean_squared_error,accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
from pandas import read_excel 
my_sheet = 'Sheet1'
file_name = 'C:\\Users\\venkat333\\Desktop\\assignment\\mavoix_ml_sample_dataset.xlsx'
df = pd.read_excel(file_name, sheet_name = my_sheet)
df.head().T

,0,1,2,3,4
Application_ID,ML0001,ML0002,ML0003,ML0004,ML0005
Current City,Bangalore,Bangalore,Bangalore,Bangalore,Bangalore
Python (out of 3),0,2,3,2,2
R Programming (out of 3),2,0,0,0,0
Deep Learning (out of 3),0,0,1,2,0
PHP (out of 3),2,2,2,1,2
MySQL (out of 3),0,2,2,0,0
HTML (out of 3),2,2,2,2,2
CSS (out of 3),3,2,0,0,1
JavaScript (out of 3),2,2,2,0,1
Unnamed: 10,NaN,NaN,NaN,NaN,NaN
AJAX (out of 3),0,0,0,0,0
Bootstrap (out of 3),2,0,0,0,0
MongoDB (out of 3),0,0,0,0,2
Node.js (out of 3),0,0,0,0,2
ReactJS (out of 3),0,0,0,0,2
Other skills,R Programming,"Data Science, Machine Learning, Neural Network...","Algorithms, Data Structures, Python, C Program...","CSS, Deep Learning, Embedded Systems, HTML, Ma...","HTML, OpenCV, Python, SQL, C++ Programming, CS..."
Degree,Bachelor of Science (B.Sc),Bachelor of Technology (B.Tech),Master of Science (M.Sc),Bachelor of Engineering (B.E),Bachelor of Technology (B.Tech)
Stream,Mathematics,Computer Science & Engineering,Computer Science,Electronics and Communication,Production Engineering
Current Year Of Graduation,2017,2019,2018,2019,2018
Performance_PG,NaN,NaN,7.91/10,NaN,NaN
Performance_UG,NaN,85.50/100,70.00/100,6.86/10,6.38/10
Performance_12,NaN,92.20/92.20,64.83/64.83,76.00/76.00,65.20/65.20
Performance_10,NaN,96.60/96.60,77.60/77.60,84.32/84.32,68.80/68.80

In [3]:
df.shape

(392, 24)

In [4]:
df.describe()

,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),Unnamed: 10,AJAX (out of 3),Bootstrap (out of 3),MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3),Current Year Of Graduation
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,0.0,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,1.375000,0.566327,0.461735,0.612245,0.403061,1.346939,1.045918,0.770408,NaN,0.015306,0.265306,0.035714,0.086735,0.178571,2018.867347
std,0.975237,0.905052,0.842336,0.911789,0.837602,1.071386,1.022976,0.966626,NaN,0.122924,0.715928,0.255377,0.401567,0.499360,2.280296
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2004.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2018.750000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2019.000000
75%,2.000000,1.000000,1.000000,1.000000,0.000000,2.000000,2.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2020.000000
max,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,NaN,1.000000,3.000000,2.000000,2.000000,2.000000,2023.000000

In [5]:
df1 = df[df['Current Year Of Graduation'] < 2020]

In [6]:
print(df1.shape)
print(df1.describe())

(206, 24)
       Python (out of 3)  R Programming (out of 3)  Deep Learning (out of 3)  \
count         206.000000                206.000000                206.000000
mean            1.480583                  0.635922                  0.485437
std             0.986302                  0.941442                  0.870818
min             0.000000                  0.000000                  0.000000
25%             1.000000                  0.000000                  0.000000
50%             2.000000                  0.000000                  0.000000
75%             2.000000                  2.000000                  1.000000
max             3.000000                  3.000000                  3.000000

       PHP (out of 3)  MySQL (out of 3)  HTML (out of 3)  CSS (out of 3)  \
count      206.000000        206.000000       206.000000      206.000000
mean         0.563107          0.368932         1.325243        1.067961
std          0.863006          0.808374         1.057398        1.014645
min          0.000000          0.000000         0.000000        0.000000
25%          0.000000          0.000000         0.000000        0.000000
50%          0.000000          0.000000         2.000000        1.000000
75%          1.000000          0.000000         2.000000        2.000000
max          3.000000          3.000000         3.000000        3.000000

       JavaScript (out of 3)  Unnamed: 10  AJAX (out of 3)  \
count             206.000000          0.0       206.000000
mean                0.776699          NaN         0.009709
std                 0.951836          NaN         0.098292
min                 0.000000          NaN         0.000000
25%                 0.000000          NaN         0.000000
50%                 0.000000          NaN         0.000000
75%                 2.000000          NaN         0.000000
max                 3.000000          NaN         1.000000

       Bootstrap (out of 3)  MongoDB (out of 3)  Node.js (out of 3)  \
count            206.000000          206.000000          206.000000
mean               0.286408            0.038835            0.087379
std                0.739485            0.258413            0.397720
min                0.000000            0.000000            0.000000
25%                0.000000            0.000000            0.000000
50%                0.000000            0.000000            0.000000
75%                0.000000            0.000000            0.000000
max                3.000000            2.000000            2.000000

       ReactJS (out of 3)  Current Year Of Graduation
count          206.000000                  206.000000
mean             0.223301                 2017.538835
std              0.548738                    2.410535
min              0.000000                 2004.000000
25%              0.000000                 2017.000000
50%              0.000000                 2019.000000
75%              0.000000                 2019.000000
max              2.000000                 2019.000000

In [7]:
def levels(df):
    return (pd.DataFrame({'dtype':df1.dtypes, 
                          'levels':df1.nunique(), 
                          'levels':[df1[x].unique() for x in df1.columns],
                         'null_values':df1.isna().sum(),
                         'unique':df1.nunique()}))
levels(df1)

,dtype,levels,null_values,unique
Application_ID,object,"[ML0001, ML0002, ML0003, ML0004, ML0005, ML000...",0,206
Current City,object,"[Bangalore, Mumbai, Kozhikode, Chennai, Thriss...",0,24
Python (out of 3),int64,"[0, 2, 3, 1]",0,4
R Programming (out of 3),int64,"[2, 0, 1, 3]",0,4
Deep Learning (out of 3),int64,"[0, 1, 2, 3]",0,4
PHP (out of 3),int64,"[2, 1, 0, 3]",0,4
MySQL (out of 3),int64,"[0, 2, 1, 3]",0,4
HTML (out of 3),int64,"[2, 3, 0, 1]",0,4
CSS (out of 3),int64,"[3, 2, 0, 1]",0,4
JavaScript (out of 3),int64,"[2, 0, 1, 3]",0,4
Unnamed: 10,float64,[nan],206,0
AJAX (out of 3),int64,"[0, 1]",0,2
Bootstrap (out of 3),int64,"[2, 0, 3, 1]",0,4
MongoDB (out of 3),int64,"[0, 2, 1]",0,3
Node.js (out of 3),int64,"[0, 2, 1]",0,3
ReactJS (out of 3),int64,"[0, 2, 1]",0,3
Other skills,object,"[R Programming, Data Science, Machine Learning...",10,169
Degree,object,"[Bachelor of Science (B.Sc), Bachelor of Techn...",5,24
Stream,object,"[Mathematics, Computer Science & Engineering, ...",9,47
Current Year Of Graduation,int64,"[2017, 2019, 2018, 2016, 2015, 2012, 2013, 200...",0,12
Performance_PG,object,"[nan, 7.91/10, 3.61/4, 79.00/100, 5.60/10, 3.7...",167,34
Performance_UG,object,"[nan, 85.50/100, 70.00/100, 6.86/10, 6.38/10, ...",26,115
Performance_12,object,"[nan, 92.20/92.20, 64.83/64.83, 76.00/76.00, 6...",95,82
Performance_10,object,"[nan, 96.60/96.60, 77.60/77.60, 84.32/84.32, 6...",96,76

In [8]:
df1.isnull().sum()

Application_ID                  0
Current City                    0
Python (out of 3)               0
R Programming (out of 3)        0
Deep Learning (out of 3)        0
PHP (out of 3)                  0
MySQL (out of 3)                0
HTML (out of 3)                 0
CSS (out of 3)                  0
JavaScript (out of 3)           0
Unnamed: 10                   206
AJAX (out of 3)                 0
Bootstrap (out of 3)            0
MongoDB (out of 3)              0
Node.js (out of 3)              0
ReactJS (out of 3)              0
Other skills                   10
Degree                          5
Stream                          9
Current Year Of Graduation      0
Performance_PG                167
Performance_UG                 26
Performance_12                 95
Performance_10                 96
dtype: int64

In [9]:
df1 = df1.drop(['Unnamed: 10'],axis=1)

In [10]:
df1['Other skills'] = df1['Other skills'].fillna('0')
df1['Degree'] = df1['Degree'].fillna('Bachelor of Technology (B.Tech)')
df1['Stream'] = df1['Stream'].fillna('Electronics and Communication')
df1['Performance_PG'] = df1['Performance_PG'].fillna('0')
df1['Performance_UG'] = df1['Performance_UG'].fillna('70.00/100')
df1['Performance_12'] = df1['Performance_12'].fillna('88.00/88.00')
df1['Performance_10'] = df1['Performance_10'].fillna('86.00/86.00')

In [11]:
df1.isnull().sum()

Application_ID                0
Current City                  0
Python (out of 3)             0
R Programming (out of 3)      0
Deep Learning (out of 3)      0
PHP (out of 3)                0
MySQL (out of 3)              0
HTML (out of 3)               0
CSS (out of 3)                0
JavaScript (out of 3)         0
AJAX (out of 3)               0
Bootstrap (out of 3)          0
MongoDB (out of 3)            0
Node.js (out of 3)            0
ReactJS (out of 3)            0
Other skills                  0
Degree                        0
Stream                        0
Current Year Of Graduation    0
Performance_PG                0
Performance_UG                0
Performance_12                0
Performance_10                0
dtype: int64

In [12]:
df1

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Other skills,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,ML0001,Bangalore,0,2,0,2,0,2,3,2,...,0,0,R Programming,Bachelor of Science (B.Sc),Mathematics,2017,0,70.00/100,88.00/88.00,86.00/86.00
1,ML0002,Bangalore,2,0,0,2,2,2,2,2,...,0,0,"Data Science, Machine Learning, Neural Network...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,0,85.50/100,92.20/92.20,96.60/96.60
2,ML0003,Bangalore,3,0,1,2,2,2,0,2,...,0,0,"Algorithms, Data Structures, Python, C Program...",Master of Science (M.Sc),Computer Science,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60
3,ML0004,Bangalore,2,0,2,1,0,2,0,0,...,0,0,"CSS, Deep Learning, Embedded Systems, HTML, Ma...",Bachelor of Engineering (B.E),Electronics and Communication,2019,0,6.86/10,76.00/76.00,84.32/84.32
4,ML0005,Bangalore,2,0,0,2,0,2,1,1,...,2,2,"HTML, OpenCV, Python, SQL, C++ Programming, CS...",Bachelor of Technology (B.Tech),Production Engineering,2018,0,6.38/10,65.20/65.20,68.80/68.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,ML0374,Bangalore,0,0,0,0,0,2,2,0,...,0,0,"Bootstrap, CSS, HTML, Angular 7.0",Bachelor of Engineering (B.E),Computer Science,2019,0,7.42/10,88.00/88.00,86.00/86.00
374,ML0375,Bangalore,2,0,2,0,2,2,2,1,...,0,0,"Arduino, Bootstrap, CSS, HTML, MySQL, Python, ...",B.Tech (Hons.),Computer Science,2019,7.60/10,7.60/10,64.00/64.00,6.66/6.66
381,ML0382,Bangalore,2,0,0,3,0,3,2,3,...,0,0,"Algorithms, C Programming, Data Structures, Da...",Master of Computer Applications (MCA),Computer Application,2019,71.60/100,80.60/100,53.80/53.80,68.00/68.00
382,ML0383,Bangalore,0,0,0,0,0,2,0,2,...,0,0,"HTML, Java, JavaScript, ASP.NET, Android, C#.NET",Bachelor of Technology (B.Tech),IT,2015,0,7.11/10,88.00/88.00,86.00/86.00
383,ML0384,Noida,2,0,0,0,0,0,0,0,...,0,0,"Java, Python",Bachelor of Computer Applications (BCA),Computer Application,2019,0,60.30/100,60.30/60.30,86.00/86.00

In [304]:
df1.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Other skills,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,ML0001,Bangalore,0,2,0,2,0,2,3,2,...,0,0,R Programming,Bachelor of Science (B.Sc),Mathematics,2017,0,70.00/100,88.00/88.00,86.00/86.00
1,ML0002,Bangalore,2,0,0,2,2,2,2,2,...,0,0,"Data Science, Machine Learning, Neural Network...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,0,85.50/100,92.20/92.20,96.60/96.60
2,ML0003,Bangalore,3,0,1,2,2,2,0,2,...,0,0,"Algorithms, Data Structures, Python, C Program...",Master of Science (M.Sc),Computer Science,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60
3,ML0004,Bangalore,2,0,2,1,0,2,0,0,...,0,0,"CSS, Deep Learning, Embedded Systems, HTML, Ma...",Bachelor of Engineering (B.E),Electronics and Communication,2019,0,6.86/10,76.00/76.00,84.32/84.32
4,ML0005,Bangalore,2,0,0,2,0,2,1,1,...,2,2,"HTML, OpenCV, Python, SQL, C++ Programming, CS...",Bachelor of Technology (B.Tech),Production Engineering,2018,0,6.38/10,65.20/65.20,68.80/68.80

In [13]:
new = df1['Other skills'].str.split(" ", expand = True)

In [14]:
df2 = df1.drop(['Other skills'],axis=1)

In [15]:
df2.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3),Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,ML0001,Bangalore,0,2,0,2,0,2,3,2,...,0,0,0,Bachelor of Science (B.Sc),Mathematics,2017,0,70.00/100,88.00/88.00,86.00/86.00
1,ML0002,Bangalore,2,0,0,2,2,2,2,2,...,0,0,0,Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,0,85.50/100,92.20/92.20,96.60/96.60
2,ML0003,Bangalore,3,0,1,2,2,2,0,2,...,0,0,0,Master of Science (M.Sc),Computer Science,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60
3,ML0004,Bangalore,2,0,2,1,0,2,0,0,...,0,0,0,Bachelor of Engineering (B.E),Electronics and Communication,2019,0,6.86/10,76.00/76.00,84.32/84.32
4,ML0005,Bangalore,2,0,0,2,0,2,1,1,...,2,2,2,Bachelor of Technology (B.Tech),Production Engineering,2018,0,6.38/10,65.20/65.20,68.80/68.80

In [16]:
from sklearn.preprocessing import LabelEncoder
df2['Current City'] = LabelEncoder().fit_transform(df2['Current City'])

In [17]:
df2['Degree'] = LabelEncoder().fit_transform(df2['Degree'])
df2['Stream'] = LabelEncoder().fit_transform(df2['Stream'])

In [18]:

df2['Other skills']=df1['Other skills'].apply(lambda x : x.replace('-','').split(','))

In [311]:
df2

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Other skills
0,ML0001,2,0,2,0,2,0,2,3,2,...,0,0,9,36,2017,0,70.00/100,88.00/88.00,86.00/86.00,[R Programming]
1,ML0002,2,2,0,0,2,2,2,2,2,...,0,0,10,9,2019,0,85.50/100,92.20/92.20,96.60/96.60,"[Data Science, Machine Learning, Neural Netw..."
2,ML0003,2,3,0,1,2,2,2,0,2,...,0,0,17,6,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60,"[Algorithms, Data Structures, Python, C Pro..."
3,ML0004,2,2,0,2,1,0,2,0,0,...,0,0,8,24,2019,0,6.86/10,76.00/76.00,84.32/84.32,"[CSS, Deep Learning, Embedded Systems, HTML..."
4,ML0005,2,2,0,0,2,0,2,1,1,...,2,2,10,40,2018,0,6.38/10,65.20/65.20,68.80/68.80,"[HTML, OpenCV, Python, SQL, C++ Programmin..."
5,ML0006,2,2,0,0,1,0,3,2,1,...,0,0,10,16,2019,0,70.00/100,88.00/88.00,86.00/86.00,"[Data Analytics, Machine Learning, MySQL, P..."
7,ML0008,16,3,1,0,0,0,2,0,0,...,0,0,20,24,2019,3.61/4,2.68/4,88.00/88.00,86.00/86.00,"[Data Analytics, Python, SQL, .NET, ASP.NE..."
10,ML0011,2,2,0,0,0,0,0,0,0,...,0,0,10,24,2018,0,64.00/100,95.00/95.00,86.00/86.00,"[CSS, HTML, Java, Python, SQL]"
13,ML0014,2,2,2,0,2,1,0,0,0,...,0,0,8,6,2019,0,6.53/10,69.50/69.50,72.60/72.60,"[C Programming, C++ Programming, Data Analyt..."
14,ML0015,2,2,0,0,0,0,0,0,0,...,0,0,8,9,2016,0,8.40/10,9.20/9.20,9.50/9.50,"[Java, Python, SQL, C Programming]"
16,ML0017,14,2,0,0,2,0,2,2,0,...,0,0,17,36,2019,79.00/100,81.25/100,88.00/88.00,86.00/86.00,"[MSOffice, Python, Data Science, Machine Le..."
17,ML0018,4,1,0,0,0,0,2,2,1,...,0,0,8,24,2019,0,6.60/10,84.50/84.50,97.20/97.20,"[Data Analytics, Machine Learning, Python]"
18,ML0019,2,0,0,0,0,0,2,1,0,...,0,0,10,9,2015,0,6.80/10,88.00/88.00,86.00/86.00,[0]
19,ML0020,4,2,0,0,2,2,2,2,2,...,0,1,21,15,2019,5.60/10,65.00/100,88.00/88.00,89.00/89.00,"[BIG DATA ANALYTICS, Data Analytics, Databas..."
20,ML0021,21,1,0,0,2,2,3,3,2,...,2,0,16,7,2017,0,70.00/100,88.00/88.00,86.00/86.00,"[HTML, MSExcel, SQL, Android, JavaScript, ..."
21,ML0022,2,1,1,0,0,0,0,0,0,...,0,0,17,43,2019,3.76/4,3.56/4,80.50/80.50,85.85/85.85,"[Python, R Programming]"
23,ML0024,2,2,0,2,0,0,0,0,0,...,0,0,10,25,2018,0,70.00/100,88.00/88.00,86.00/86.00,"[Deep Learning, Machine Learning, Python]"
25,ML0026,9,2,0,0,0,0,2,0,0,...,0,0,16,7,2018,8.35/10,75.00/100,84.30/84.30,76.00/76.00,"[C Programming, Java, MySQL, PHP, Python]"
26,ML0027,2,2,0,0,0,0,2,2,1,...,0,0,8,24,2016,0,6.80/10,88.00/88.00,86.00/86.00,"[Machine Learning, Python]"
27,ML0028,2,2,0,2,0,0,0,0,0,...,0,0,19,19,2012,76.70/100,68.00/100,72.00/72.00,86.00/86.00,"[Artifical Intelligence, C++ Programming, De..."
28,ML0029,2,2,1,0,2,0,2,1,2,...,0,0,10,9,2016,0,53.00/100,88.00/88.00,86.00/86.00,"[Machine Learning, Natural Language Processin..."
29,ML0030,4,2,2,2,2,0,2,2,0,...,0,0,10,23,2019,0,60.04/100,88.00/88.00,86.00/86.00,"[Artifical Intelligence, Computer Vision, De..."
31,ML0032,2,2,0,0,1,0,1,1,1,...,0,0,8,37,2016,0,66.81/100,77.16/77.16,71.52/71.52,"[Data Analytics, Machine Learning, Python]"
32,ML0033,9,1,0,0,0,0,1,1,1,...,0,0,10,24,2016,0,58.00/100,88.00/88.00,86.00/86.00,"[CSS, Django, HTML, JavaScript, Python]"
33,ML0034,23,3,2,2,0,0,2,2,0,...,0,0,10,23,2018,0,66.14/100,82.50/82.50,8.50/8.50,"[Python, Data Structures, Deep Learning, Ma..."
34,ML0035,2,3,3,3,0,2,2,2,1,...,0,0,10,24,2019,0,69.00/100,82.30/82.30,93.00/93.00,"[Artifical Intelligence, Data Analytics, Dee..."
35,ML0036,5,0,0,0,0,0,0,0,0,...,0,0,10,9,2019,0,8.40/10,88.00/88.00,8.40/8.40,"[English Proficiency (Spoken), English Profic..."
36,ML0037,2,2,0,0,1,2,1,2,0,...,0,0,8,25,2019,0,8.11/10,93.00/93.00,87.68/87.68,"[Django, MSExcel, Machine Learning, Python,..."
37,ML0038,2,2,0,2,2,0,2,2,2,...,0,0,10,9,2017,0,4.17/10,72.83/72.83,86.00/86.00,"[Data Structures, Artifical Intelligence, Da..."
38,ML0039,2,1,0,0,2,3,3,2,2,...,2,0,17,36,2019,0,8.50/10,65.30/65.30,87.00/87.00,"[C Programming, MSOffice, Bootstrap, C++ Pr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,ML0309,2,2,0,0,0,0,3,3,2,...,0,0,10,6,2018,0,6.80/10,7.80/7.80,8.60/8.60,"[Bootstrap, CSS, HTML, AngularJS, Electron..."
310,ML0311,19,0,2,2,1,0,0,0,0,...,0,0,10,32,2016,0,8.04/10,87.00/87.00,88.00/88.00,"[English Proficiency (Written), C Programming..."
311,ML0312,2,0,0,0,0,0,0,0,0,...,0,0,6,46,2015,0,70.00/100,88.00/88.00,86.00/86.00,[0]
316,ML0317,15,0,2,0,0,0,2,2,2,...,0,2,10,24,2019,0,77.00/100,88.00/88.00,94.00/94.00,"[MSWord, C Programming, CSS, Embedded Syste..."
317,ML0318,20,2,2,0,0,0,0,0,0,...,0,0,8,26,2019,0,7.95/10,88.00/88.00,83.20/83.20,"[Embedded Systems, C Programming, Internet o..."
318,ML0319,22,0,0,0,1,0,2,2,2,...,0,1,8,33,2017,0,62.89/100,88.00/88.00,95.00/95.00,"[CSS, HTML, JavaScript, PHP]"
321,ML0322,2,0,2,0,0,0,2,2,2,...,0,1,16,6,2019,0,71.00/100,64.00/64.00,71.00/71.00,"[.NET, ASP.NET, Adobe Photoshop, C#, C++ P..."
323,ML0324,3,2,2,0,0,1,0,0,0,...,0,1,8,37,2018,0,7.28/10,88.00/88.00,86.00/86.00,"[Python, MySQL]"
326,ML0327,2,2,0,0,0,0,0,0,0,...,0,1,10,23,2019,0,70.00/100,88.00/88.00,86.00/86.00,"[MSExcel, Power BI, Python, BIG DATA ANALYT..."
328,ML0329,2,2,0,1,0,0,2,2,1,...,0,0,8,24,2019,0,74.00/100,88.00/88.00,86.00/86.00,"[CSS, HTML, Python, SQL, JavaScript]"
329,ML0330,2,0,0,0,0,0,2,0,0,...,0,0,8,6,2008,0,70.00/100,88.00/88.00,86.00/86.00,"[Adobe XD, C Programming, C++ Programming, ..."
331,ML0332,9,0,2,0,1,0,1,1,1,...,0,1,2,22,2019,0,70.00/100,88.00/88.00,86.00/86.00,"[CSS, HTML, JavaScript, PHP, WordPress]"
332,ML0333,2,0,0,0,0,2,2,2,2,...,0,2,8,37,2019,0,6.67/10,55.00/55.00,80.00/80.00,"[C Programming, CSS, HTML, Java, JavaScrip..."
339,ML0340,2,0,0,2,0,0,2,0,0,...,0,0,11,6,2019,0,55.50/100,77.00/77.00,62.00/62.00,"[HTML, Java, SQL, Software Testing]"
340,ML0341,2,1,0,0,0,2,2,2,2,...,2,1,10,24,2017,0,70.27/100,70.27/70.27,79.80/79.80,"[CSS, HTML, Java, JavaScript, MySQL, Node..."
341,ML0342,2,0,0,0,0,1,2,2,1,...,0,2,10,9,2018,0,7.00/7,7.00/7.00,7.00/7.00,"[CSS, HTML, Java, C Programming, Firebase,..."
343,ML0344,15,0,1,0,0,0,2,2,2,...,0,1,10,24,2019,0,77.00/100,88.00/88.00,94.00/94.00,"[MSWord, C Programming, CSS, Embedded Syste..."
349,ML0350,2,2,0,1,0,3,3,3,3,...,0,0,8,45,2019,0,70.00/100,90.50/90.50,93.60/93.60,"[Algorithms, C Programming, CSS, Data Struc..."
350,ML0351,2,1,0,0,2,0,0,0,0,...,0,0,19,8,2014,80.00/100,63.00/100,88.00/88.00,86.00/86.00,"[Java, PHP, Python]"
357,ML0358,2,2,3,0,0,0,2,1,0,...,0,0,10,24,2019,0,69.00/100,58.20/58.20,65.00/65.00,"[C Programming, HTML, MSOffice, MSPowerPoin..."
360,ML0361,2,0,0,0,0,0,2,1,2,...,1,1,8,24,2019,0,65.00/100,54.00/54.00,74.00/74.00,"[HTML, JavaScript, CSS, MongoDB, Node.js, ..."
363,ML0364,2,1,0,2,0,0,0,0,0,...,0,0,1,9,2019,0,7.50/100,88.00/88.00,86.00/86.00,"[Android, Python]"
366,ML0367,2,2,0,0,0,0,2,2,1,...,0,0,8,24,2019,0,74.00/100,88.00/88.00,86.00/86.00,"[CSS, HTML, Python, SQL, JavaScript]"
367,ML0368,2,0,0,2,0,0,0,0,0,...,0,0,10,39,2018,0,7.20/10,88.00/88.00,86.00/86.00,"[Android, Java]"
371,ML0372,2,0,2,0,1,0,1,1,1,...,0,0,9,6,2018,0,2.15/5,88.00/88.00,86.00/86.00,"[C Programming, CSS, HTML, JavaScript, PHP]"
373,ML0374,2,0,0,0,0,0,2,2,0,...,0,0,8,6,2019,0,7.42/10,88.00/88.00,86.00/86.00,"[Bootstrap, CSS, HTML, Angular 7.0]"
374,ML0375,2,2,0,2,0,2,2,2,1,...,0,0,1,6,2019,7.60/10,7.60/10,64.00/64.00,6.66/6.66,"[Arduino, Bootstrap, CSS, HTML, MySQL, Py..."
381,ML0382,2,2,0,0,3,0,3,2,3,...,0,0,16,7,2019,71.60/100,80.60/100,53.80/53.80,68.00/68.00,"[Algorithms, C Programming, Data Structures,..."
382,ML0383,2,0,0,0,0,0,2,0,2,...,0,0,10,30,2015,0,7.11/10,88.00/88.00,86.00/86.00,"[HTML, Java, JavaScript, ASP.NET, Android,..."
383,ML0384,19,2,0,0,0,0,0,0,0,...,0,0,6,7,2019,0,60.30/100,60.30/60.30,86.00/86.00,"[Java, Python]"

In [19]:
len(df2['Other skills'][1])

5

In [20]:
df2['Other skills']=df2['Other skills'].apply(lambda x : len(x))

In [314]:
df2

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Other skills
0,ML0001,2,0,2,0,2,0,2,3,2,...,0,0,9,36,2017,0,70.00/100,88.00/88.00,86.00/86.00,1
1,ML0002,2,2,0,0,2,2,2,2,2,...,0,0,10,9,2019,0,85.50/100,92.20/92.20,96.60/96.60,5
2,ML0003,2,3,0,1,2,2,2,0,2,...,0,0,17,6,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60,17
3,ML0004,2,2,0,2,1,0,2,0,0,...,0,0,8,24,2019,0,6.86/10,76.00/76.00,84.32/84.32,7
4,ML0005,2,2,0,0,2,0,2,1,1,...,2,2,10,40,2018,0,6.38/10,65.20/65.20,68.80/68.80,9
5,ML0006,2,2,0,0,1,0,3,2,1,...,0,0,10,16,2019,0,70.00/100,88.00/88.00,86.00/86.00,4
7,ML0008,16,3,1,0,0,0,2,0,0,...,0,0,20,24,2019,3.61/4,2.68/4,88.00/88.00,86.00/86.00,9
10,ML0011,2,2,0,0,0,0,0,0,0,...,0,0,10,24,2018,0,64.00/100,95.00/95.00,86.00/86.00,5
13,ML0014,2,2,2,0,2,1,0,0,0,...,0,0,8,6,2019,0,6.53/10,69.50/69.50,72.60/72.60,10
14,ML0015,2,2,0,0,0,0,0,0,0,...,0,0,8,9,2016,0,8.40/10,9.20/9.20,9.50/9.50,4
16,ML0017,14,2,0,0,2,0,2,2,0,...,0,0,17,36,2019,79.00/100,81.25/100,88.00/88.00,86.00/86.00,5
17,ML0018,4,1,0,0,0,0,2,2,1,...,0,0,8,24,2019,0,6.60/10,84.50/84.50,97.20/97.20,3
18,ML0019,2,0,0,0,0,0,2,1,0,...,0,0,10,9,2015,0,6.80/10,88.00/88.00,86.00/86.00,1
19,ML0020,4,2,0,0,2,2,2,2,2,...,0,1,21,15,2019,5.60/10,65.00/100,88.00/88.00,89.00/89.00,7
20,ML0021,21,1,0,0,2,2,3,3,2,...,2,0,16,7,2017,0,70.00/100,88.00/88.00,86.00/86.00,7
21,ML0022,2,1,1,0,0,0,0,0,0,...,0,0,17,43,2019,3.76/4,3.56/4,80.50/80.50,85.85/85.85,2
23,ML0024,2,2,0,2,0,0,0,0,0,...,0,0,10,25,2018,0,70.00/100,88.00/88.00,86.00/86.00,3
25,ML0026,9,2,0,0,0,0,2,0,0,...,0,0,16,7,2018,8.35/10,75.00/100,84.30/84.30,76.00/76.00,5
26,ML0027,2,2,0,0,0,0,2,2,1,...,0,0,8,24,2016,0,6.80/10,88.00/88.00,86.00/86.00,2
27,ML0028,2,2,0,2,0,0,0,0,0,...,0,0,19,19,2012,76.70/100,68.00/100,72.00/72.00,86.00/86.00,6
28,ML0029,2,2,1,0,2,0,2,1,2,...,0,0,10,9,2016,0,53.00/100,88.00/88.00,86.00/86.00,5
29,ML0030,4,2,2,2,2,0,2,2,0,...,0,0,10,23,2019,0,60.04/100,88.00/88.00,86.00/86.00,10
31,ML0032,2,2,0,0,1,0,1,1,1,...,0,0,8,37,2016,0,66.81/100,77.16/77.16,71.52/71.52,3
32,ML0033,9,1,0,0,0,0,1,1,1,...,0,0,10,24,2016,0,58.00/100,88.00/88.00,86.00/86.00,5
33,ML0034,23,3,2,2,0,0,2,2,0,...,0,0,10,23,2018,0,66.14/100,82.50/82.50,8.50/8.50,7
34,ML0035,2,3,3,3,0,2,2,2,1,...,0,0,10,24,2019,0,69.00/100,82.30/82.30,93.00/93.00,7
35,ML0036,5,0,0,0,0,0,0,0,0,...,0,0,10,9,2019,0,8.40/10,88.00/88.00,8.40/8.40,11
36,ML0037,2,2,0,0,1,2,1,2,0,...,0,0,8,25,2019,0,8.11/10,93.00/93.00,87.68/87.68,5
37,ML0038,2,2,0,2,2,0,2,2,2,...,0,0,10,9,2017,0,4.17/10,72.83/72.83,86.00/86.00,8
38,ML0039,2,1,0,0,2,3,3,2,2,...,2,0,17,36,2019,0,8.50/10,65.30/65.30,87.00/87.00,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,ML0309,2,2,0,0,0,0,3,3,2,...,0,0,10,6,2018,0,6.80/10,7.80/7.80,8.60/8.60,8
310,ML0311,19,0,2,2,1,0,0,0,0,...,0,0,10,32,2016,0,8.04/10,87.00/87.00,88.00/88.00,7
311,ML0312,2,0,0,0,0,0,0,0,0,...,0,0,6,46,2015,0,70.00/100,88.00/88.00,86.00/86.00,1
316,ML0317,15,0,2,0,0,0,2,2,2,...,0,2,10,24,2019,0,77.00/100,88.00/88.00,94.00/94.00,10
317,ML0318,20,2,2,0,0,0,0,0,0,...,0,0,8,26,2019,0,7.95/10,88.00/88.00,83.20/83.20,5
318,ML0319,22,0,0,0,1,0,2,2,2,...,0,1,8,33,2017,0,62.89/100,88.00/88.00,95.00/95.00,4
321,ML0322,2,0,2,0,0,0,2,2,2,...,0,1,16,6,2019,0,71.00/100,64.00/64.00,71.00/71.00,11
323,ML0324,3,2,2,0,0,1,0,0,0,...,0,1,8,37,2018,0,7.28/10,88.00/88.00,86.00/86.00,2
326,ML0327,2,2,0,0,0,0,0,0,0,...,0,1,10,23,2019,0,70.00/100,88.00/88.00,86.00/86.00,7
328,ML0329,2,2,0,1,0,0,2,2,1,...,0,0,8,24,2019,0,74.00/100,88.00/88.00,86.00/86.00,5
329,ML0330,2,0,0,0,0,0,2,0,0,...,0,0,8,6,2008,0,70.00/100,88.00/88.00,86.00/86.00,7
331,ML0332,9,0,2,0,1,0,1,1,1,...,0,1,2,22,2019,0,70.00/100,88.00/88.00,86.00/86.00,5
332,ML0333,2,0,0,0,0,2,2,2,2,...,0,2,8,37,2019,0,6.67/10,55.00/55.00,80.00/80.00,6
339,ML0340,2,0,0,2,0,0,2,0,0,...,0,0,11,6,2019,0,55.50/100,77.00/77.00,62.00/62.00,4
340,ML0341,2,1,0,0,0,2,2,2,2,...,2,1,10,24,2017,0,70.27/100,70.27/70.27,79.80/79.80,8
341,ML0342,2,0,0,0,0,1,2,2,1,...,0,2,10,9,2018,0,7.00/7,7.00/7.00,7.00/7.00,7
343,ML0344,15,0,1,0,0,0,2,2,2,...,0,1,10,24,2019,0,77.00/100,88.00/88.00,94.00/94.00,10
349,ML0350,2,2,0,1,0,3,3,3,3,...,0,0,8,45,2019,0,70.00/100,90.50/90.50,93.60/93.60,14
350,ML0351,2,1,0,0,2,0,0,0,0,...,0,0,19,8,2014,80.00/100,63.00/100,88.00/88.00,86.00/86.00,3
357,ML0358,2,2,3,0,0,0,2,1,0,...,0,0,10,24,2019,0,69.00/100,58.20/58.20,65.00/65.00,7
360,ML0361,2,0,0,0,0,0,2,1,2,...,1,1,8,24,2019,0,65.00/100,54.00/54.00,74.00/74.00,6
363,ML0364,2,1,0,2,0,0,0,0,0,...,0,0,1,9,2019,0,7.50/100,88.00/88.00,86.00/86.00,2
366,ML0367,2,2,0,0,0,0,2,2,1,...,0,0,8,24,2019,0,74.00/100,88.00/88.00,86.00/86.00,5
367,ML0368,2,0,0,2,0,0,0,0,0,...,0,0,10,39,2018,0,7.20/10,88.00/88.00,86.00/86.00,2
371,ML0372,2,0,2,0,1,0,1,1,1,...,0,0,9,6,2018,0,2.15/5,88.00/88.00,86.00/86.00,5
373,ML0374,2,0,0,0,0,0,2,2,0,...,0,0,8,6,2019,0,7.42/10,88.00/88.00,86.00/86.00,4
374,ML0375,2,2,0,2,0,2,2,2,1,...,0,0,1,6,2019,7.60/10,7.60/10,64.00/64.00,6.66/6.66,10
381,ML0382,2,2,0,0,3,0,3,2,3,...,0,0,16,7,2019,71.60/100,80.60/100,53.80/53.80,68.00/68.00,12
382,ML0383,2,0,0,0,0,0,2,0,2,...,0,0,10,30,2015,0,7.11/10,88.00/88.00,86.00/86.00,6
383,ML0384,19,2,0,0,0,0,0,0,0,...,0,0,6,7,2019,0,60.30/100,60.30/60.30,86.00/86.00,2

In [315]:
df2.dtypes

Application_ID                object
Current City                   int32
Python (out of 3)              int64
R Programming (out of 3)       int64
Deep Learning (out of 3)       int64
PHP (out of 3)                 int64
MySQL (out of 3)               int64
HTML (out of 3)                int64
CSS (out of 3)                 int64
JavaScript (out of 3)          int64
AJAX (out of 3)                int64
Bootstrap (out of 3)           int64
MongoDB (out of 3)             int64
Node.js (out of 3)             int64
ReactJS (out of 3)             int64
Degree                         int32
Stream                         int32
Current Year Of Graduation     int64
Performance_PG                object
Performance_UG                object
Performance_12                object
Performance_10                object
Other skills                   int64
dtype: object

In [21]:
df2['Performance_PG'] = df2['Performance_PG'].str.split("/", expand = True)
df2['Performance_UG'] = df2['Performance_UG'].str.split("/", expand = True)
df2['Performance_12'] = df2['Performance_12'].str.split("/", expand = True)
df2['Performance_10'] = df2['Performance_10'].str.split("/", expand = True)

In [22]:
df2.head().T

                                 0       1       2       3       4
Application_ID              ML0001  ML0002  ML0003  ML0004  ML0005
Current City                     2       2       2       2       2
Python (out of 3)                0       2       3       2       2
R Programming (out of 3)         2       0       0       0       0
Deep Learning (out of 3)         0       0       1       2       0
PHP (out of 3)                   2       2       2       1       2
MySQL (out of 3)                 0       2       2       0       0
HTML (out of 3)                  2       2       2       2       2
CSS (out of 3)                   3       2       0       0       1
JavaScript (out of 3)            2       2       2       0       1
AJAX (out of 3)                  0       0       0       0       0
Bootstrap (out of 3)             2       0       0       0       0
MongoDB (out of 3)               0       0       0       0       2
Node.js (out of 3)               0       0       0       0       2
ReactJS (out of 3)               0       0       0       0       2
Degree                           9      10      17       8      10
Stream                          36       9       6      24      40
Current Year Of Graduation    2017    2019    2018    2019    2018
Performance_PG                   0       0    7.91       0       0
Performance_UG               70.00   85.50   70.00    6.86    6.38
Performance_12               88.00   92.20   64.83   76.00   65.20
Performance_10               86.00   96.60   77.60   84.32   68.80
Other skills                     1       5      17       7       9

In [23]:
df2['Performance_PG'] = df2['Performance_PG'].astype('float')
df2['Performance_UG'] = df2['Performance_UG'].astype('float')
df2['Performance_12'] = df2['Performance_12'].astype('float')
df2['Performance_10'] = df2['Performance_10'].astype('float')

In [24]:
df10 = df2.drop(['Application_ID'],axis=1)

In [25]:
df10.head().T

                                 0       1        2        3        4
Current City                   2.0     2.0     2.00     2.00     2.00
Python (out of 3)              0.0     2.0     3.00     2.00     2.00
R Programming (out of 3)       2.0     0.0     0.00     0.00     0.00
Deep Learning (out of 3)       0.0     0.0     1.00     2.00     0.00
PHP (out of 3)                 2.0     2.0     2.00     1.00     2.00
MySQL (out of 3)               0.0     2.0     2.00     0.00     0.00
HTML (out of 3)                2.0     2.0     2.00     2.00     2.00
CSS (out of 3)                 3.0     2.0     0.00     0.00     1.00
JavaScript (out of 3)          2.0     2.0     2.00     0.00     1.00
AJAX (out of 3)                0.0     0.0     0.00     0.00     0.00
Bootstrap (out of 3)           2.0     0.0     0.00     0.00     0.00
MongoDB (out of 3)             0.0     0.0     0.00     0.00     2.00
Node.js (out of 3)             0.0     0.0     0.00     0.00     2.00
ReactJS (out of 3)             0.0     0.0     0.00     0.00     2.00
Degree                         9.0    10.0    17.00     8.00    10.00
Stream                        36.0     9.0     6.00    24.00    40.00
Current Year Of Graduation  2017.0  2019.0  2018.00  2019.00  2018.00
Performance_PG                 0.0     0.0     7.91     0.00     0.00
Performance_UG                70.0    85.5    70.00     6.86     6.38
Performance_12                88.0    92.2    64.83    76.00    65.20
Performance_10                86.0    96.6    77.60    84.32    68.80
Other skills                   1.0     5.0    17.00     7.00     9.00

In [26]:
from mlxtend.preprocessing import minmax_scaling
df6 =minmax_scaling(df10, columns=df10.columns)

In [27]:
df6.head()

,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Other skills
0,0.086957,0.000000,0.666667,0.000000,0.666667,0.000000,0.666667,1.000000,0.666667,0.0,...,0.0,0.0,0.391304,0.782609,0.866667,0.000000,0.816568,0.903761,0.876923,0.000000
1,0.086957,0.666667,0.000000,0.000000,0.666667,0.666667,0.666667,0.666667,0.666667,0.0,...,0.0,0.0,0.434783,0.195652,1.000000,0.000000,1.000000,0.950221,0.993407,0.210526
2,0.086957,1.000000,0.000000,0.333333,0.666667,0.666667,0.666667,0.000000,0.666667,0.0,...,0.0,0.0,0.739130,0.130435,0.933333,0.098875,0.816568,0.647456,0.784615,0.842105
3,0.086957,0.666667,0.000000,0.666667,0.333333,0.000000,0.666667,0.000000,0.000000,0.0,...,0.0,0.0,0.347826,0.521739,1.000000,0.000000,0.069349,0.771018,0.858462,0.315789
4,0.086957,0.666667,0.000000,0.000000,0.666667,0.000000,0.666667,0.333333,0.333333,0.0,...,1.0,1.0,0.434783,0.869565,0.933333,0.000000,0.063669,0.651549,0.687912,0.421053

In [28]:
from sklearn.cluster import KMeans, SpectralClustering
km = KMeans(n_clusters=2, max_iter=100)
km.fit(df6)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [325]:
print(km.labels_)

[0 0 0 1 0 0 1 1 1 1 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 0 1 0 0 0 1 1 1 0 0 0 1
 0 0 1 0 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 0 0 1 1 0 1 0 0 0 0 1 1 1 0 0 1 0 1
 1 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 0 1 0 1 1 1 0 1 1 0 0 0 1 1 1 0 1
 0 0 1 0 0 1 1 0 0 0 0 1 1 0 1 0 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 1 1 0 1 1 0
 1 1 0 0 0 1 1 0 0 1 1 1 1 1 1 0 1 1 0 1 0 0 1 1 1 1 1 1 0 1 1 0 1 0 0 1 1
 0 1 1 0 1 0 0 0 0 1 1 0 1 0 1 1 0 0 0 1 1]